<!doctype html> 
<html>  
  <head>  
    <link rel="stylesheet" href="/css/style.css">
    <title>Register for The Thirsty Student</title> 
  </head>  
  <body>  
    <h1>Register for The Thirsty Student</h1> 
    Please fill in this form to register 
    <form method="POST" action="/registered"> 
        First Name:<input id="first" type="text" name="first" placeholder="first name"/><br> 
        Last Name:<input id="last" type="text" name="last" placeholder="last name"/><br> 
        Email:<input id="email" type="email" name="email" placeholder="email" required/> 
        <input type="submit" value="OK"/> 
    </form> 
  </body>  
</html>