body {
  font-family: Arial, sans-serif;
  background-color: #e0f0ff;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #003366;
}

h1, h2 {
  color: #00509e;
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #003366;
  color: #e0f0ff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
  color: #003366;
}

li {
  background-color: #b3d9ff;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  width: 60%;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
